html {              /*mudar página*/
    background-color: rgb(183, 247, 202);
}

body {              /*mudar o corpo do site (minha-div)*/
    color: rgb(47, 21, 117);
}

h1 {                /*título principal*/
    color: rgb(14, 105, 14);
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    font-size: 25px;
}

div#bl1 {           /*container 1*/
    /*border-style: dashed;*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div#bl2 {           /*container 2*/
    /*border-style: dashed;*/
    display: inline-block center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    

}

img {               /*imagem*/
    width: 100%;
    height: 100%;
    border: 2px black solid;
    display: block;
    max-width: 580px;
    max-height: 400px;
    min-width: 580px;
    min-height: 400px;
    margin: auto auto;
}

p#aut {                 /*parágrafo abaixo da imagem*/
    color: black;
    text-align: right;
    font-size: 18px;
}

p#obs {                 /*parágrafo abaixo da imagem*/
    color: rgb(155, 21, 21);
    text-align: right;
    font-size: 13px;
}